server:
  port: 8080

spring:
  application:
    name: deathnode-server
  datasource:
    url: jdbc:postgresql://localhost:5432/deathnode
    username: dn_admin
    password: dn_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
  
  storage:
    envelopes-path: ${SERVER_ENVELOPES_CONTAINER_PATH:/data/envelopes}

